.user-navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px !important;
    
}
.nav-links{
    display: flex;
    padding-right: 20px !important;
    color: #7eaa92;
}
.nav-links ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links ul li{
    font-weight: 600;
    font-size: 19px;
}
